@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    font-family: 'Poppins',sans-serif;
    color:var(--primary-text-color);
}h1{
    font-family: 'Roboto',sans-serif;
    font-size: 3rem;
}
h2{
    font-family: 'Roboto',sans-serif;
    font-size: 2rem;
}
h3{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25;
    color: var(--secondary-text-color);
    line-height:  1.8rem;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#0a4c7e;
    --padding-inline-section:20px
   
   }
.primary-button{

    
    
    background-color: var(--accent-color);
    border-radius: 5px;
    font-weight: 700px;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.25 ease-out;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
}

/* .primary-button:hover{
 text-emphasis-color: blue;
} */

.destination h2{
    margin-left: 20px;
    margin-top: 30px;
}
.example-cards{
    border-radius: 10px;
    position: relative;
    width: 23%;
    background: black;
    min-height: 200px;
    transition: 0.2s ease-out;
   
    
    
}
.example-cards:hover{
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 10px;
    transform: scale(1.03);
    /* z-index: 20; */
    box-shadow: 0 0 10px #888;
}

.example-cards:nth-child(1){
    
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)),url(MANALI.jpg);
    background-size: cover;
}
.example-cards:nth-child(2){
    background:linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(LADAKH.jpg);
    background-size: cover;
}
.example-cards:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(GOA.jpg);
    background-size: cover;
}
.example-cards:nth-child(4){
    
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(ANDAMAN-NICOBAR-ISLANDS.jpg);
    background-size: cover;
}
.example-cards:nth-child(5){
    
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(AGRA.jpg);
    background-size: cover;
}
.example-cards:nth-child(6){
    
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(SRINAGAR.jpg);
    background-size: cover;
}
.example-cards:nth-child(7){
    
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(OOTY.jpg);
    background-size: cover;
}
.example-cards:nth-child(8){
    
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.6)), url(Benaras_ghat.jpg);
    background-size: cover;
}



.example-text{
    color: white;
position: absolute;
bottom: 20px;
left: 20px;
right: 20px;
}
.example-area{
    margin: 20px 20px;
    flex-wrap: wrap;
    gap: 20px;
   
}
.example-section
{
    margin-top: 60px;
}
